@using MyRoyalShop.DataLayer.ViewModels;
@model RegisterViewModel
@{
    ViewData["Title"] = "SuccessRegister";
}

<h1>ثبت نام با موفقیت انجام شد</h1>
<p>@Model.UserName عزیز , با تشکر از همراهی شما  </p>

