@model MyRoyalShop.DataLayer.Domain.Product

@{
    ViewData["Title"] = "ShowProduct";
}

<div class="row">
    <h1>@Model.Title</h1>
    <hr />
    <img src="/ProductImages/@Model.ImageName" class="img-thumbnail" style="width:100%" />

    <p>
        @Html.Raw(Model.Text)
    </p>
    <p>
        قیمت : @Model.Price.ToString("#,0")
    </p>
    <hr />
    @foreach (string t in Model.Tags.Split(','))
    {
        <a href="/Search?q=@t">@t</a>
    }

</div>